@font-face {
    font-family: 'RobotoSans';
    src: url('./fonts/RobotoFlex.woff2') format('woff2 supports variations'),
         url('./fonts/RobotoFlex.woff2') format('woff2-variations'),
         url('./fonts/RobotoFlex.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
}

.infobox {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: #FAFAFA;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.infobox h3 {
    margin: 0 0 5px;
    color: #777;
}
.map-card {
    margin-top: 20px; 
}
.app-container {
    background-color: #0E2050; /* TTT dark color */
    color: #F0F0F0; /* Text color for better visibility */
    min-height: 100vh; /* Ensures the container fills the entire viewport height */
}
body {
    font-family: "RobotoSans", "Segoe UI Emoji", "Noto Color Emoji", "Apple Color Emoji", "Arial", sans-serif;
}

.map-control-radio .form-check {
margin-right: 8px;
}
.map-control-radio .form-check-input {
    cursor: pointer;
}
.map-control-radio .form-check-label {
    cursor: pointer;
    font-weight: normal;
}

.map-control-radio .form-check-label {
cursor: pointer;
font-weight: normal;
}

.navbar {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
.navbar-brand {
    display: flex;
    align-items: center;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand img {
    object-fit: contain;
    max-height: 600px;
}

@supports (font-family: "Apple Color Emoji") {
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
    }
}
